[submodule "home/.ipython/extensions/base16_mplrc"]
	path = home/.ipython/extensions/base16_mplrc
	url = https://github.com/benjaminaschultz/base16-ipython-matplotlibrc.git
[submodule "home/.ipython/extensions/asymptote"]
	path = home/.ipython/extensions/asymptote
	url = https://github.com/jrjohansson/ipython-asymptote.git
[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "home/.vim/bundle/Vundle.vim"]
	path = home/.vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "home/.gbd"]
	path = home/.gdb
	url = https://github.com/gdbinit/Gdbinit.git
