[submodule "home/.ipython/nbextensions/asymptote"]
	path = home/.ipython/nbextensions/asymptote
	url = https://github.com/jrjohansson/ipython-asymptote.git
[submodule "home/.ipython/nbextensions/matplotlibrc"]
	path = home/.ipython/nbextensions/matplotlibrc
	url = https://github.com/benjaminaschultz/base16-ipython-matplotlibrc.git
